<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyLotto.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyLotto.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MyLotto.My.MySettings.LottoDB" connectionString="Data Source=.;Initial Catalog=MyLottoDB;User ID=sa;Password=15022525"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <MyLotto.My.MySettings>
            <setting name="ValueText" serializeAs="String">
                <value>Tahoma, 27.75pt, style=Bold</value>
            </setting>
            <setting name="NumberText" serializeAs="String">
                <value>Tahoma, 48pt, style=Bold</value>
            </setting>
            <setting name="TabFont" serializeAs="String">
                <value>Tahoma, 24pt, style=Bold</value>
            </setting>
            <setting name="ValidateFont" serializeAs="String">
                <value>Tahoma, 12pt</value>
            </setting>
        </MyLotto.My.MySettings>
    </applicationSettings>
    <userSettings>
        <MyLotto.My.MySettings>
            <setting name="ValidateColor" serializeAs="String">
                <value>Red</value>
            </setting>
        </MyLotto.My.MySettings>
    </userSettings>
</configuration>